 <div id='left'  class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm offcanvas-md" ng-init="loadAdapterInventoryComboBox()"  ng-controller="ApiProdHitFilterCtrl">	         					
		
		  <form id="filters" class="form-inline" role="form">
		  	  
			   <div class="form-group spacer col-sm-12 col-md-12 col-lg-12">
			    <label class="control-label col-lg-12" for="bundles">API:</label>
			    <div ng-dropdown-multiselect='' 
					options='apiApiResourceFinderData' 
					button-label='API'
					selected-model='apiApiResourceFinderModel' 
					extra-settings='apiApiResourceFinderSettings' 
					translation-texts='apiApiResourceFinderCustomTexts'
					></div>	
			  </div>
			  
			  <div  class="form-group spacer col-sm-12 col-md-12 col-lg-12">
			    <label class="control-label col-lg-12" for="backends">Profile:</label>
			    <div ng-dropdown-multiselect='' 
					options='minorApiResourceFinderData' 
					button-label='MinorVersions'
					selected-model='minorApiResourceFinderModel' 
					extra-settings='minorApiResourceFinderSettings' 
					translation-texts='minorApiResourceFinderCustomTexts'
					></div>	
			  </div>
			  
			  <div class="form-group spacer col-sm-12 col-md-12 col-lg-12">
			    <label class="control-label col-lg-12" for="bundles">Bundle:</label>
			    <div ng-dropdown-multiselect='' 
					options='bundleApiResourceFinderData' 
					button-label='Bundle'
					selected-model='bundleApiResourceFinderModel' 
					extra-settings='bundleApiResourceFinderSettings' 
					translation-texts='bundleApiResourceFinderCustomTexts'
					></div>	
			  </div>
			  
			  <div  class="form-group spacer col-sm-12 col-md-12 col-lg-12" ng-show="false">
			    <label class="control-label col-lg-12" for="apis">Major Version:</label>
			    <div ng-dropdown-multiselect='' 
					options='majorApiResourceFinderData' 
					button-label='MajorVersions'
					selected-model='majorApiResourceFinderModel' 
					extra-settings='majorApiResourceFinderSettings' 
					translation-texts='majorApiResourceFinderCustomTexts'
					></div>	
			  </div>
			  
			  <div  class="form-group spacer col-sm-12 col-md-12 col-lg-12" ng-show="false">
			    <label class="control-label col-lg-12" for="backends">Senior TDs:</label>
			    <div ng-dropdown-multiselect='' 
					options='srtdApiResourceFinderData' 
					button-label='SeniorTD'
					selected-model='srtdApiResourceFinderModel' 
					extra-settings='srtdApiResourceFinderSettings' 
					translation-texts='srtdApiResourceFinderCustomTexts'
					></div>	
			  </div>
			  
			  <div  class="form-group spacer col-sm-12 col-md-12 col-lg-12" ng-show="false">
			    <label class="control-label col-lg-12" for="backends">Max Resource Count:</label>
			    <div class="input-group spinner">
				    <input type="text" class="form-control" ng-model="maxResourceCount">
				    <div class="input-group-btn-vertical">
				      <button class="btn btn-default" type="button" ng-click="addMaxResourceCount($event)"><i class="fa fa-caret-up"></i></button>
				      <button class="btn btn-default" type="button" ng-click="subtractMaxResourceCount($event)"><i class="fa fa-caret-down"></i></button>
				    </div>
				</div>
			  </div>
			  
			  
			  <div class="form-group spacer col-sm-12 col-md-12 col-lg-12">
			  
					<button type="button" id="searchButton" data-loading-text="Search" class="btn btn-info" autocomplete="off" ng-click="submitAPISchemaSearchSearch()" ng-show="false">
						Search <i class="glyphicon glyphicon-search"></i>
					</button>
					<button type="button" id="resetButton" data-loading-text="Reset" class="btn btn-warning" autocomplete="off" ng-click="resetAdapterInventoryComboBox()">
						Reset <i class="glyphicon glyphicon-refresh"></i>
					</button>
				</div>		
			</form>
</div>					
		
		