
<style>
	td
	{
	  vertical-align: top;
	  text-align: left;
	}

</style>


<div id='apiProdHitFilterId' ng-include="'partials/api_prod_hit/api_prod_hit_filters.html'"></div>

<div id='right'>
	<div class="list-inline hidden-sm hidden-sx hidden-md"
		style="padding-left: 5px; z-index: 100; position: fixed;"> <a
		ng-href=""
		ng-click="apiSchemaSearchShowHide();apiSchemaSearchShowHideFilter=!apiSchemaSearchShowHideFilter"
		title="Hide/Show Filters"> <i alt="Hide/Show Filters"
			ng-class="apiSchemaSearchShowHideFilter == false ?'cursor glyphicon glyphicon-align-right':'cursor glyphicon glyphicon-align-left'"></i>
	</a>
	</div>

	<div class="navbar navbar-default navbar-fixed-left hidden-lg">
		<button type="button" class="navbar-toggle" data-toggle="offcanvas"
			data-target=".navmenu">
			<span class="icon-bar"></span> <span class="icon-bar"></span> <span
				class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Search Filters</a>
	</div>
	<div class="col-sm-12 col-md-12 col-lg-12" ng-init="renderApiProdHitGrid()">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<b><i>{{gridHeaderMessages}}</i></b>
				<!-- <span class="pull-right"><span title="{{batchJobStatusDetail | date: 'MM/dd/yyyy hh:mm:ss a'}}"> Synchronized: {{batchJobStatusDetail | fromNow }}</span></span> -->
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<table class="cell-border table-striped" id="apiProdHitGrid">
					<thead>
						<tr>
							<th>API</th>
							<th>Profile</th>
							<th>Hits</th>
							<th>Bundle</th>
							<th>Interval</th>
							<th>Data Center</th>
							<th>Transactions</th>
							<th>Failures</th>
							<th>Avg TPS</th>
						</tr>
					</thead>
				</table>
			</div>
					
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
</div>
