 
 <div id='left'  class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm offcanvas-md" ng-init="loadDashboardComboBox()"  ng-controller="ExecDashboardFiltersCtrl">	         					
		
		  <form id="filters" class="form-inline" role="form">
		  	  
		       <div  class="form-group spacer col-sm-12 col-md-12 col-lg-12">
			    <label class="control-label col-lg-12" for="programs">Programs:</label>
			    <div ng-dropdown-multiselect='' 
					options='programExecDashboardData' 
					button-label='Programs'
					selected-model='programExecDashboardModel' 
					extra-settings='programExecDashboardSettings' 
					translation-texts='programExecDashboardCustomTexts'
					></div>	
			  </div>
			  
			  <div  class="form-group spacer col-sm-12 col-md-12 col-lg-12">
			    <label class="control-label col-lg-12" for="clients">Clients:</label>
			    <div ng-dropdown-multiselect='' 
					options='clientExecDashboardData' 
					button-label='Clients'
					selected-model='clientExecDashboardModel' 
					extra-settings='clientExecDashboardSettings' 
					translation-texts='clientExecDashboardCustomTexts'
					></div>	
			  </div>
			  
			  
			  <div class="form-group spacer col-sm-12 col-md-12 col-lg-12">
			    <label class="control-label col-lg-12" for="profiles">Profiles:</label>
			    <div ng-dropdown-multiselect='' 
					options='profileExecDashboardData' 
					button-label='Profiles'
					selected-model='profileExecDashboardModel' 
					extra-settings='profileExecDashboardSettings' 
					translation-texts='profileExecDashboardCustomTexts'
					></div>	
			  </div>
			  
			  <div  class="form-group spacer col-sm-12 col-md-12 col-lg-12">
			    <label class="control-label col-lg-12" for="bundles">Service Bundles:</label>
			    <div ng-dropdown-multiselect='' 
					options='bundleExecDashboardData' 
					button-label='Bundles'
					selected-model='bundleExecDashboardModel' 
					extra-settings='bundleExecDashboardSettings' 
					translation-texts='bundleExecDashboardCustomTexts'
					></div>	
			  </div>
			  
			  <div  class="form-group spacer col-sm-12 col-md-12 col-lg-12">
			    <label class="control-label col-lg-12" for="apis">Apis:</label>
			    <div ng-dropdown-multiselect='' 
					options='apiExecDashboardData' 
					button-label='APIs'
					selected-model='apiExecDashboardModel' 
					extra-settings='apiExecDashboardSettings' 
					translation-texts='apiExecDashboardCustomTexts'
					></div>	
			  </div>
			  
			  <div   class="form-group spacer col-sm-12 col-md-12 col-lg-12">
			    <label class="control-label col-lg-12" for="backends">Backends:</label>
			    <div ng-dropdown-multiselect='' 
					options='backendExecDashboardData' 
					button-label='Backends'
					selected-model='backendExecDashboardModel' 
					extra-settings='backendExecDashboardSettings' 
					translation-texts='backendExecDashboardCustomTexts'
					></div>	
			  </div>
			  
			  
			  <div  class="form-group spacer col-sm-12 col-md-12 col-lg-12" style="display: none">
			    <label class="control-label col-lg-12" for="environments">Environments:</label>
			    <div ng-dropdown-multiselect='' 
					options='environmentExecDashboardData' 
					button-label='Environments'
					selected-model='environmentExecDashboardModel' 
					extra-settings='environmentExecDashboardSettings' 
					translation-texts='environmentExecDashboardCustomTexts'
					></div>	
			  </div>
			  
			  <div class="form-group spacer col-sm-12 col-md-12 col-lg-12">
			  
					<button type="button" id="searchButton" data-loading-text="Search" class="btn btn-info" autocomplete="off" ng-click="submitDashboardSearch()">
						Search <i class="glyphicon glyphicon-search"></i>
					</button>
					<button type="button" id="resetButton" data-loading-text="Reset" class="btn btn-warning" autocomplete="off" ng-click="resetDashboardFilters()">
						Reset <i class="glyphicon glyphicon-refresh"></i>
					</button>
				</div>		
			</form>
</div>					
		
		