 <div class="container">
    <footer>  
     <div class="clearfix row foot-blk">
     
     <div class="col-sm-3">
					<ul>
                        <li><h4>Menu</h4></li>
						<li class=""><a href="#">Home</a></li>
						<li class=""><a href="#">About School</a></li>
                        <li class=""><a href="#">Academy</a></li>
						<li class=""><a href="#">Admission</a></li>
                        <li class=""><a href="#">Events</a></li>
						<li class=""><a href="#">Gallery</a></li>
                        <li class=""><a href="#">Contact Us</a></li>
					</ul>					
     </div>
    <div class="col-sm-6">         
         <span>இ.வெ.ரா பெரியார் தாய் தமிழ் கல்வி சாலை<p>E V R PERIYAR THAI THAMIZH KALVI SAALAI</p></span>
        <p>EVR Periyar saalai</p>
        <p>Sekkadikuppam</p>
        <p>Villupuram -604 204</p>
        <p>Contact: 9444 29 65 47 </p>
    </div>
   
         
         
         <div class="col-sm-2 pull-right">
            <a href=""><img class="img-circle center-blocks" src="images/periyar-logo.jpg" alt=""/></a>                         
        </div>
         
            <div class="text-center foot-text col-sm-12">Copyright <span>©</span>2014 Thai Tamil Kalvi. All Rights Reserved.</div>            

         </div>

              
        </footer>
</div>   