<section ng-controller="ourschoolcontroller">     
    <h3>Vision & Mission</h3>
    <h4>Vission</h4>
    <p>To equip the students to face the ever changing world with courage and confidence by providing best education and to develop the child to be a socially and culturally responsible citizen by instilling moral values with Christian ideas.</p>
    <h4>Mission</h4>
    <p>To create every child to be a lifelong learner, to impart innovation and critical thinking in every activity by providing safe and stress free learning environment.</p>
    
    
    <h3>Rules & Regulations</h3>
    <h4><strong>School Timings</strong></h4>
    <p>The School will function from Monday to Friday, everyday starting from 9.00 am till 4.00 pm. Every day schedule is divided into eight sessions (periods) and each session will be for 40 minutes. Special classes (Zero Period) will be conducted for X and XII Std on all working days.</p>
    <h4><strong>Lunch Time</strong></h4>
    <p>Lunch time is from 12.20 pm to 1.00 pm. Students are advised to bring two napkins, spoon and boiled water for their use during the lunch time. The class teachers will be available in the class room throughout the lunch time. Ayah s will assists the KG children to have lunch.</p>
   <h4><strong>Visitors Time</strong></h4>
        <p>Lunch time is from 12.20 pm to 1.00 pm. Students are advised to bring two napkins, spoon and boiled water for their use during the lunch time. The class teachers will be available in the class room throughout the lunch time. Ayah s will assists the KG children to have lunch.</p>
    <h4><strong>Other Instruction</strong></h4>
        
<p>Parents are request to co-operate with teachers and Principal to enforce regularity, punctuality and discipline to the children.</p>
<p>Parents are expected to make sure the lessons and assignments for the next day are done by their wards.</p>
<p>Parents who desire to give suggestions or complaints regarding their wards may contact the principal or academic supervisors.</p>
<p>Progress reports will be given to the parents after each examination. Parents are requested to examine the reports and consult with teachers accordingly.</p>
<p>Students are advised not to wear costly ornaments to school. If they are worn and lost, the school will not be responsible for the same.</p>
<p>Students will not be allowed to leave the premises in the middle of the day without Principal’s permission.</p>
<p>Students are expected to behave themselves within the school.</p>
<p>It is forbidden to write / scribble on the walls or desks in the class rooms.</p>
<p>No Student should cause damage / loss to any of the properties of school.</p>
<p>Any change of address or change in contact numbers should be intimated to the school office and class teachers immediately.</p>
<p>The conduct certificate which may be issued to the students when leaving the school will depend on his / her behavior during his / her tenure in school.</p>
        
        </p>
    </section>